# ========================
# PlatformIO
# ========================
.pio/
.pioenvs/
.piolibdeps/

# ========================
# Build outputs
# ========================
Debug/
Release/
build/

*.o
*.d
*.elf
*.map
*.bin
*.hex
*.list
*.srec

# ========================
# Temporary / intermediate
# ========================
*.su
*.idb
*.pdb
*.ilk
*.exp

# ========================
# IDE files
# ========================
.vscode/
.settings/
.metadata/

# Eclipse / CubeIDE files
*.launch

# ========================
# OS junk
# ========================
.DS_Store
.directory
Thumbs.db

# ========================
# Test folders
# ========================
tests/
